{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <main class="content">
        <div class="container p-0">
            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-lg-5 col-xl-3 border-right">

                        <div class="px-4 d-none d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control my-3" placeholder="Search...">
                                </div>
                            </div>
                        </div>

                        {% for user in user_list %}
                        {%if user != current_user%}
                        <a href="/user/{{user.id}}" class="list-group-item list-group-item-action border-0">
                            <div class="badge bg-success float-right"></div>
                            <div class="d-flex align-items-start">
                                <img src="https://bootdey.com/img/Content/avatar/avatar5.png"
                                    class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
                                <div class="flex-grow-1 ml-3">
                                    {{user.username}}
                                    <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
                                </div>
                            </div>
                        </a>
                        {%endif%}
                        {% endfor %}

                        {% for group in group_list %}
                        <a href="/group/{{group.id}}" class="list-group-item list-group-item-action border-0">
                            <div class="badge bg-success float-right"></div>
                            <div class="d-flex align-items-start">
                                <img src="https://bootdey.com/img/Content/avatar/avatar4.png"
                                    class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
                                <div class="flex-grow-1 ml-3">
                                    {{group.groupname}}
                                    <div class="small"><span class="fas fa-circle chat-online"></span></div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}

                        <hr class="d-block d-lg-none mt-1 mb-0">
                    </div>
                    <div class="col-12 col-lg-7 col-xl-9">
                        <div class="py-2 px-4 border-bottom d-none d-lg-block">
                            <div class="d-flex align-items-center py-1">
                                <div class="position-relative">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png"
                                        class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                </div>
                                <div class="flex-grow-1 pl-3">
                                    <strong>{{second_user.username}}</strong>
                                    <div class="text-muted small"><em>Typing...</em></div>
                                </div>
                                <div>
                                    <div id="creategroup" class="overlay">
                                        <div class="popup">
                                            <h2>Here i am</h2>
                                            <a class="close" href="#">&times;</a>
                                            <div class="content">
                                                <form action="/group/{{group.id}}/" method="post">
                                                    {% csrf_token %}
                                                    {{ creategroupforms }}
                                                    <button class="btn btn-primary" type="submit">Create</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-lg mr-1 px-3">
                                        <a href="#creategroup"><font color="white">group</font></a>
                                    </button>
                                    <button class="btn btn-light border btn-lg px-3"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-more-horizontal feather-lg">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg></button>
                                </div>
                            </div>
                        </div>

                        <div class="position-relative">
                            <div class="chat-messages p-4">
                                {% for msg in chat_history %}
                                {% if msg.receiver == second_user %}
                                <div class="chat-message-right pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                            class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                        <div class="text-muted small text-nowrap mt-2">{{msg.date}} {{msg.time}}</div>
                                    </div>
                                    <div class="flex-shrink-1 rounded py-2 px-3 mr-3">
                                        <div class="font-weight-bold mb-1">You</div>
                                        {{msg.text}}
                                    </div>
                                </div>
                                {% elif msg.receiver == current_user %}
                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png"
                                            class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                        <div class="text-muted small text-nowrap mt-2">{{msg.date}} {{msg.time}}</div>
                                    </div>
                                    <div class="flex-shrink-1 rounded py-2 px-3 ml-3">
                                        <div class="font-weight-bold mb-1">{{msg.sender.username}}</div>
                                        {{msg.text}}
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}

                                {% for msg in group_chat_history %}
                                {% if msg.sender == current_user %}
                                <div class="chat-message-right pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                            class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                        <div class="text-muted small text-nowrap mt-2">{{msg.date}} {{msg.time}}</div>
                                    </div>
                                    <div class="flex-shrink-1 rounded py-2 px-3 mr-3">
                                        <div class="font-weight-bold mb-1">You</div>
                                        {{msg.text}}
                                    </div>
                                </div>
                                {% elif msg.sender != current_user %}
                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png"
                                            class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                        <div class="text-muted small text-nowrap mt-2">{{msg.date}} {{msg.time}}</div>
                                    </div>
                                    <div class="flex-shrink-1 rounded py-2 px-3 ml-3">
                                        <div class="font-weight-bold mb-1">{{msg.sender.username}}</div>
                                        {{msg.text}}
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                        {% if forms %}
                        <div class="flex-grow-0 py-3 px-4 border-top">
                            <div class="input-group">
                                <form action="/user/{{second_user.id}}/" method="post">
                                    {% csrf_token %}
                                    {{ forms }}
                                    <button class="btn btn-primary" type="submit">Send</button>
                                </form>
                                <a href="/logout/">Log Out</a>
                            </div>
                        </div>
                        {% elif groupforms%}
                        <div class="flex-grow-0 py-3 px-4 border-top">
                            <div class="input-group">
                                <form action="/group/{{group.id}}/" method="post">
                                    {% csrf_token %}
                                    {{ groupforms }}
                                    <button class="btn btn-primary" type="submit">Send</button>
                                </form>
                                <a href="/logout/">Log Out</a>
                                <a href="/leave/{{group.id}}/">leave</a>
                            </div>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>